---
layout: components
template: Komponenter
title: Komponenter
---

<div class="u-wrapper">
  <header>
    <a href="/"><img alt="Preem" src="/assets/images/general/logotype.png"></a><h1><%= current_page.data.title %></h1>
  </header>

  <div id="icons" class="Component Component--icons">
    <h2 class="Component-head">Icons</h2>
    <div>
      <span class="u-icon-youtube">youtube</span>
      <span class="u-icon-wifi">wifi</span>
      <span class="u-icon-water">water</span>
      <span class="u-icon-warning">warning</span>
      <span class="u-icon-vimeo">vimeo</span>
      <span class="u-icon-user">user</span>
      <span class="u-icon-twitter">twitter</span>
      <span class="u-icon-truck">truck</span>
      <span class="u-icon-trashcan">trashcan</span>
      <span class="u-icon-trailer">trailer</span>
      <span class="u-icon-thermometer">thermometer</span>
      <span class="u-icon-sun">sun</span>
      <span class="u-icon-star">star</span>
      <span class="u-icon-search">search</span>
      <span class="u-icon-rss">rss</span>
      <span class="u-icon-ribbon">ribbon</span>
      <span class="u-icon-print">print</span>
      <span class="u-icon-power">power</span>
      <span class="u-icon-position">position</span>
      <span class="u-icon-plus">plus</span>
      <span class="u-icon-pinterest">pinterest</span>
      <span class="u-icon-piechart">piechart</span>
      <span class="u-icon-piechart-piece">piechart-piece</span>
      <span class="u-icon-phone">phone</span>
      <span class="u-icon-note">note</span>
      <span class="u-icon-more">more</span>
      <span class="u-icon-more-filled">more-filled</span>
      <span class="u-icon-moon">moon</span>
      <span class="u-icon-minus">minus</span>
      <span class="u-icon-meter">meter</span>
      <span class="u-icon-menu">menu</span>
      <span class="u-icon-medical">medical</span>
      <span class="u-icon-map">map</span>
      <span class="u-icon-mail">mail</span>
      <span class="u-icon-location">location</span>
      <span class="u-icon-list">list</span>
      <span class="u-icon-linkedin">linkedin</span>
      <span class="u-icon-light">light</span>
      <span class="u-icon-knifeandfork">knifeandfork</span>
      <span class="u-icon-keypad">keypad</span>
      <span class="u-icon-instagram">instagram</span>
      <span class="u-icon-info">info</span>
      <span class="u-icon-idea">idea</span>
      <span class="u-icon-icecream">icecream</span>
      <span class="u-icon-hotdog">hotdog</span>
      <span class="u-icon-help">help</span>
      <span class="u-icon-heartinring">heartinring</span>
      <span class="u-icon-heart">heart</span>
      <span class="u-icon-heart-plus">heart-plus</span>
      <span class="u-icon-heart-filled">heart-filled</span>
      <span class="u-icon-googleplus">googleplus</span>
      <span class="u-icon-globe">globe</span>
      <span class="u-icon-glass">glass</span>
      <span class="u-icon-gasoline">gasoline</span>
      <span class="u-icon-flag">flag</span>
      <span class="u-icon-filter">filter</span>
      <span class="u-icon-file">file</span>
      <span class="u-icon-facebook">facebook</span>
      <span class="u-icon-extendedsearch">extendedsearch</span>
      <span class="u-icon-exclamation">exclamation</span>
      <span class="u-icon-e85">e85</span>
      <span class="u-icon-e85-filled">e85-filled</span>
      <span class="u-icon-drink">drink</span>
      <span class="u-icon-download">download</span>
      <span class="u-icon-disability">disability</span>
      <span class="u-icon-directions">directions</span>
      <span class="u-icon-d">d</span>
      <span class="u-icon-d-filled">d-filled</span>
      <span class="u-icon-creditcard">creditcard</span>
      <span class="u-icon-config">config</span>
      <span class="u-icon-coffee">coffee</span>
      <span class="u-icon-close">close</span>
      <span class="u-icon-close-filled">close-filled</span>
      <span class="u-icon-clock">clock</span>
      <span class="u-icon-checkinring">checkinring</span>
      <span class="u-icon-checkinbox">checkinbox</span>
      <span class="u-icon-check">check</span>
      <span class="u-icon-chat">chat</span>
      <span class="u-icon-change-direction">change-direction</span>
      <span class="u-icon-cash">cash</span>
      <span class="u-icon-car">car</span>
      <span class="u-icon-calendar">calendar</span>
      <span class="u-icon-bubbles">bubbles</span>
      <span class="u-icon-bubble">bubble</span>
      <span class="u-icon-bicycle">bicycle</span>
      <span class="u-icon-battery">battery</span>
      <span class="u-icon-at">at</span>
      <span class="u-icon-arrowright">arrowright</span>
      <span class="u-icon-arrowright-light">arrowright-light</span>
      <span class="u-icon-arrowleft">arrowleft</span>
      <span class="u-icon-arrowdown">arrowdown</span>
      <span class="u-icon-arrowup">arrowup</span>
      <span class="u-icon-arrowdown-light">arrowdown-light</span>
      <span class="u-icon-apple">apple</span>
      <span class="u-icon-98">98</span>
      <span class="u-icon-98-filled">98-filled</span>
      <span class="u-icon-96">96</span>
      <span class="u-icon-96-filled">96-filled</span>
      <span class="u-icon-95">95</span>
      <span class="u-icon-95-filled">95-filled</span>
    </div>
  </div>

  <div id="symbol" class="Component Component--symbols">
    <h2 class="Component-head">Symbol</h2>
    <div>
      <figure class="Symbol Symbol--beige Symbol--blackText">
        <span class="u-icon-bubbles"></span>
      </figure>
      <figure class="Symbol Symbol--l Symbol--blue">
        <span class="u-icon-creditcard"></span>
      </figure>
      <figure class="Symbol Symbol--s Symbol--green">
        <span class="u-icon-bicycle"></span>
      </figure>
      <figure class="Symbol Symbol--m Symbol--green-1">
        <span class="u-icon-bicycle"></span>
      </figure>
      <figure class="Symbol Symbol--m Symbol--green-2">
        <span class="u-icon-bicycle"></span>
      </figure>
      <figure class="Symbol Symbol--m Symbol--green-3">
        <span class="u-icon-bicycle"></span>
      </figure>
      <figure class="Symbol Symbol--m Symbol--green-4">
        <span class="u-icon-bicycle"></span>
      </figure>
      <figure class="Symbol Symbol--m Symbol--green-5">
        <span class="u-icon-bicycle"></span>
      </figure>
      <figure class="Symbol Symbol--m Symbol--green-6">
        <span class="u-icon-bicycle"></span>
      </figure>
      <figure class="Symbol Symbol--m Symbol--green-7">
        <span class="u-icon-bicycle"></span>
      </figure>
      <figure class="Symbol Symbol--m Symbol--orange">
        <span class="u-icon-clock"></span>
      </figure>
      <figure class="Symbol Symbol--l Symbol--orangeRed">
        <span class="u-icon-apple"></span>
      </figure>
      <figure class="Symbol Symbol--s Symbol--red">
        <span class="u-icon-filter"></span>
      </figure>
      <figure class="Symbol Symbol--m Symbol--yellow">
        <span class="u-icon-keypad"></span>
      </figure>
    </div>
  </div>

  <div id="mainnav" class="Component">
    <h2 class="Component-head">MainNav</h2>
    <div class="MainNav" data-controller="mainNav" style="padding: 0; width: 100%; float: none;">
      <%= partial 'partials/main_nav_primary' %>
    </div>
  </div>
  <div id="mainnav--stretch" class="Component">
    <h2 class="Component-head">MainNav--stretch</h2>
    <div class="MainNav MainNav--stretch" data-controller="mainNav" style="padding: 0; width: 100%; float: none;">
      <%= partial 'partials/main_nav_primary' %>
    </div>
  </div>

  <div id="sidebar" class="Component">
    <h2 class="Component-head">Sidebar</h2>
    <%= partial 'partials/components/sidebar' %>
  </div>

  <div id="content-block" class="Component">
    <h2 class="Component-head">Content block</h2>
    <%= partial 'partials/components/content_block', locals: { color: 'blue', icon: 'bubbles' } %>
    <%= partial 'partials/components/content_block', locals: { color: 'green', icon: 'hotdog' } %>
    <%= partial 'partials/components/content_block', locals: { color: 'orange', icon: nil } %>
  </div>

  <div id="action-block" class="Component">
    <h2 class="Component-head">Action block</h2>
    <%= partial 'partials/components/action_block', locals: { variant: 'full', color: 'orange' } %>
    <br>
    <%= partial 'partials/components/action_block', locals: { variant: 'medium', color: 'green' } %>
  </div>

  <div id="article-list" class="Component">
    <h2 class="Component-head">Article list</h2>
    <%= partial 'partials/components/article_list', locals: { split: false, item_count: 2, has_image: true } %>
    <%= partial 'partials/components/article_list', locals: { split: true, item_count: 4, has_image: true } %>
    <%= partial 'partials/components/article_list', locals: { split: false, item_count: 4, has_image: false } %>
  </div>

  <div id="action-bar" class="Component">
    <h2 class="Component-head">Action bar</h2>
    <%= partial 'partials/components/action_bar', locals: { items: 3 } %>
    <%= partial 'partials/components/action_bar', locals: { items: 2 } %>
    <%= partial 'partials/components/action_bar', locals: { items: 1 } %>
  </div>

  <div id="fuel-types" class="Component">
    <h2 class="Component-head">Fuel types</h2>
    <%= partial 'partials/components/fuel_types' %>
  </div>

  <div id="buttons" class="Component">
    <h2 class="Component-head">Buttons</h2>
    <button class="Button Button--full">Hej hej</button>
    <br><br>
    <button class="Button Button--green Button--full">Hej hej</button>
  </div>

  <div id="checklist" class="Component">
    <h2 class="Component-head">Checklist</h2>
    <%= partial 'partials/components/checklist' %>
  </div>

  <div id="video" class="Component">
    <h2 class="Component-head">Video</h2>
    <%= partial 'partials/components/video' %>
  </div>

  <div id="share-actions" class="Component">
    <h2 class="Component-head">Share actions</h2>
    <%= partial 'partials/components/share_actions', locals: { on_color: false } %>
    <%= partial 'partials/components/share_actions', locals: { on_color: true } %>
  </div>

  <div id="featured-block" class="Component">
    <h2 class="Component-head">Featured block</h2>

    <div class="ContentBlock ContentBlock--orange Article">
      <header class="ContentBlock-header">
        <h2 class="ContentBlock-headline">Featured block</h2>
      </header>
      <%= partial 'partials/components/featured_block', locals: { headline: 'Anslut kort &amp; spara pengar' } %>
    </div>
    <br><br>
    <div class="ContentBlock ContentBlock--green Article">
      <header class="ContentBlock-header">
        <h2 class="ContentBlock-headline">Featured block</h2>
      </header>
      <%= partial 'partials/components/featured_block', locals: { headline: 'Anslut kort &amp; spara pengar' } %>
    </div>
    <br><br>
    <div class="ContentBlock ContentBlock--blue Article">
      <header class="ContentBlock-header">
        <h2 class="ContentBlock-headline">Featured block</h2>
      </header>
      <%= partial 'partials/components/featured_block', locals: { headline: 'Anslut kort &amp; spara pengar' } %>
    </div>
    <br><br>
    <div class="ContentBlock ContentBlock--facebookBlue Article">
      <header class="ContentBlock-header">
        <h2 class="ContentBlock-headline">Featured block</h2>
      </header>
      <%= partial 'partials/components/featured_block', locals: { headline: 'Anslut kort &amp; spara pengar' } %>
    </div>
  </div>

  <div id="station-finder-mini" class="Component">
    <h2 class="Component-head">Station finder mini</h2>
    <%= partial 'partials/components/station_finder_mini', locals: { show_favorites: false, has_last_visited: true } %>
    <%= partial 'partials/components/station_finder_mini', locals: { show_favorites: true, has_favorites: true, has_last_visited: true } %>
    <%= partial 'partials/components/station_finder_mini', locals: { show_favorites: true, has_favorites: false, has_last_visited: false } %>
  </div>

  <div id="station-list" class="Component">
    <h2 class="Component-head">Station list</h2>
    <%= partial 'partials/components/station_list' %>
  </div>

  <div id="block-list" class="Component">
    <h2 class="Component-head">Block list</h2>
    <%= partial 'partials/components/block_list' %>
  </div>

  <div id="breadcrumbs" class="Component">
    <h2 class="Component-head">Breadcrumbs</h2>
    <%= partial 'partials/components/breadcrumbs', locals: { items: ['Hyra släp &amp; bil', 'Villkor'] } %>
  </div>

  <div id="slideshow" class="Component">
    <h2 class="Component-head">Slideshow</h2>
    <%= partial 'partials/components/slideshow' %>
  </div>

  <div id="notices" class="Component">
    <h2 class="Component-head">Notices</h2>
    <%= partial 'partials/components/notice' %>
    <%= partial 'partials/components/notice', locals: { type: 'alert' } %>
  </div>

  <div id="item-list" class="Component">
    <h2 class="Component-head">Item list</h2>
    <%= partial 'partials/components/item_list', locals: { price: false, square: false } %>
    <%= partial 'partials/components/item_list', locals: { price: true, square: false } %>
    <%= partial 'partials/components/item_list', locals: { price: true, square: true } %>
  </div>

  <div id="index-navigation" class="Component">
    <h2 class="Component-head">Index navigation</h2>
    <%= partial 'partials/components/index_nav' %>
  </div>

  <div id="section-list" class="Component">
    <h2 class="Component-head">Section list</h2>
    <%= partial 'partials/components/section_list' %>
  </div>

  <div id="section-list" class="Component">
    <h2 class="Component-head">Table</h2>
    <%= partial 'partials/components/table' %>
  </div>

  <div id="full" class="Component">
    <h2 class="Component-head">Full</h2>
    <%= partial 'partials/components/full', locals: { aligncenter: true } %>
    <%= partial 'partials/components/full', locals: { aligncenter: false } %>
  </div>

</div>

<% content_for :footer_script do %>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{google_maps_api_key}&sensor=false&libraries=places", type: nil %>
<% end %>
